{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" style="background-color: 	#F8F8F8">
        <div class="col-lg-3">
            <h1>A Glimpse of Happiness</h1>
        </div>
        <div class="col-lg-6">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#posts">Posts</a></li>
                <li><a href="#about">About me</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul id="media-bar">
                <li><a href="https://www.facebook.com/banciu.bogdana" style=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/bogdana.banciu/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://ro.pinterest.com/bogdana_banciu/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

    <! -- Carousel -->
    <div class="slide-wrapper">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="margin-top: 20px; height: 500px">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active carousel-image">
                    <img src="{{ asset("/pictures/carousel/pic1.jpeg") }}">
                    <!--<div class="carousel-caption">
                        <h3>Awesome</h3>
                        <p>I love captions!</p>
                    </div>-->
                </div>
                <div class="item carousel-image">
                    <img src="{{ asset("/pictures/carousel/pic3.jpg") }}">
                    <!--<div class="carousel-caption">
                        <h3>Awesomeness</h3>
                        <p>I love those captions!</p>
                    </div>-->
                </div>
            </div>
            <!-- Left and right controls -->
            <div>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- End of Carousel -->
       <!--     Info pe imaginile carouselului
        <div class="info-inner">
            <div class="info-inner-content">Content</div>
        </div>
        -->
    </div>
    <div class="row">
        <div class="col-lg-3 zoom-image">
                <img src="{{ asset("/pictures/lifestyle.jpg") }}">
                <div class="zoom-image-overlay top"></div>
        </div>
        <div class="col-lg-3 zoom-image">
            <img src="{{ asset("/pictures/travel.jpg") }}">
            <div class="zoom-image-overlay top"></div>
        </div>
        <div class="col-lg-3 zoom-image" style="float: right;">
            <img src="{{ asset("/pictures/photography.jpg") }}">
            <div class="zoom-image-overlay top"></div>
        </div>
    </div>

    <div class="container-fluid">

    </div>
{% endblock %}